# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore MacOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db

# Ignore Python distributions
*.egg
*.egg-info/
dist/
build/
*.bak
*.swp
